<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%5level [%thread] - %msg%n</pattern>
    </encoder>
  </appender>

	<logger name="com.ducnh.syncfilekafka.repositories.mappers.impl.MaMapper">
		<appender-ref ref="stdout"/>
		<level value="trace"></level>
	</logger>
	
	<logger name="com.ducnh.syncfilekafka.repositories.mappers.DefaultMapper">
		<level value="trace"></level>
		<appender-ref ref="stdout"/>
	</logger>
	
	<logger name="com.ducnh.syncfilekafka.repositories.mappers.impl.MaMapper">
		<level value="debug"></level>
		<appender-ref ref="stdout"/>
	
	</logger>
	
	<logger name="com.ducnh.syncfilekafka.repositories.mappers.DefaultMapper">
		<level value="debug"></level>
		<appender-ref ref="stdout"/>
		
	</logger>
		
	  <root level="error">
	    <appender-ref ref="stdout"/>
	  </root>

</configuration>