<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<property name="LOG_FILE" value="logSyncFile" />
	<property name="LOG_DIR" value="logs" />
	<appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_DIR}/rollingFile/${LOG_FILE}.log</file> 
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>${LOG_DIR}/%d{yyyy/MM/dd}/${LOG_FILE}.gz</fileNamePattern>
	    </rollingPolicy>
	    <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
	</appender>
  
  <root level="info">
    <appender-ref ref="ROLLINGFILE" /> 
  </root>

</configuration>